*~
*.bak
build
*.class
.classpath
.project
dist
.DS_Store
*.ear
*.jar
*.log
.manager
.metadata
rebel.xml
.settings/
.svn
target
target/
bin
bin/
tmp*
*.war
env.properties
alf_data_dev/
